body {
    height: 95vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url(/src/images/bg-desktop.svg);
    background-size: cover;
}
:hover.fa-facebook-f {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

:hover.fa-twitter {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

:hover.fa-instagram {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}