@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        background-image: url(/src/images/bg-mobile.svg);
        background-size: 100% 50%;
        background-repeat: no-repeat;
    }

    .cabecalho {
        margin: 30px 0 55px 30px;
        max-width: 80%;
    }

    .logo {
        display: flex;
        justify-content: flex-end;
        max-width: 130px;
    }

    .box__Principal {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
        max-width: 580px;
    }

    .conteudo__Principal {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        color: white;
        margin: 90px 40px 0 40px;
        font-family: "poppins";
        font-size: 0.98rem;
        font-weight: 300;

    }

    .imagem__Principal {
        max-width: 80%;
        margin: 0 auto;
    }

    :hover.botao {
        background-color: hsl(300, 69%, 71%);
        cursor: pointer;
        color: white;
    }

    .botao {
        color: hsl(257, 40%, 49%);
        margin: 0 auto;
        width: 230px;
        height: 45px;
        border: none;
        border-radius: 40px;
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.2);
        font-family: "poppins";
        font-size: 1rem;
        font-weight: 400;
    }

    .title {
        font-family: "poppins";
        font-size: 1.7em;
        font-weight: 600;
    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 15px;
        color: white
    }


    .icons-social {
        margin-top: 90px;
        margin-bottom: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
        align-content: center;
        border: solid 1px white;
        border-radius: 50%;
    }

    :hover.icons-social {
        color: hsl(300, 69%, 71%);
        cursor: pointer;
        border: solid 1px hsl(300, 69%, 71%);
    }

}

@media (min-width: 1024px) {
    .cabecalho {
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .logo{
        max-width: 400px;
    }

    .box__Principal {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
        margin-left: 60px;
        margin-right: 60px;
    }

    .conteudo__Principal {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 690px;
        color: white;
        margin-top: 70px;
        /* justify-content: center; */
        font-family: "poppins";
        font-size: 22px;

    }

    .imagem__Principal {
        width: 950px
    }

    :hover.botao {
        background-color: hsl(300, 69%, 71%);
        cursor: pointer;
        color: white;
    }

    .botao {
        color: hsl(300, 69%, 71%);

        width: 260px;
        height: 70px;
        border: none;
        border-radius: 40px;
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.2);
        font-family: "poppins";
        font-size: 1.2rem;
        font-weight: 700;
    }

    .title {
        font-family: "poppins";
        font-size: 2.5em;
        font-weight: 600;
    }

    .icons {
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;
        gap: 30px;
        font-size: 25px;
        color: white
    }

    .icons-social {

        width: 50px;
        height: 50px;
        text-align: center;
        align-content: center;
        border: solid 1px white;
        border-radius: 50%;
    }

    :hover.icons-social {
        color: hsl(300, 69%, 71%);
        cursor: pointer;
        border: solid 1px hsl(300, 69%, 71%);
    }

}